body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 30vh;
  gap: 20px;
}

.calculator {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.historico {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.display {
  width: 160px;
  height: 40px;
  text-align: right;
  margin-bottom: 10px;
  font-size: 1.5em;
  padding: 12px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  gap: 10px;
}

.buttons button {
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.history-button {
  width: 190px;
  height: 40px;
  font-size: 1em;
  border: none;
  background-color: #2196F3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.history-button:hover {
  background-color: #0b7dda;
}

.buttons button:hover {
  background-color: #45a049;
}

.buttons .equals {
  background-color: #2196F3;
}

.buttons .equals:hover {
  background-color: #0b7dda;
}